name: Preprocessing Dataset

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  preprocessing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12.7'

      - name: Install dependencies
        run: |
          pip install pandas numpy scikit-learn

      - name: Run preprocessing
        run: |
          python preprocessing/automate_Nazla-Lisna-Purnamasari.py

      - name: Commit and push preprocessing dataset
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add preprocessing/namadataset_preprocessing/weather_forecast_preprocessing.csv
          git commit -m "Update preprocessed dataset (auto)" || echo "No changes"
          git push
